@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
:root{
    --primary-text-color: #333;
    --secondary-text-color: #fff;

    --primary-style-color: #74A695;
    --secondary-style-color: #fff;
    --tertiary-style-color: #4D7593;
    
}
body{
    font-family: 'Nunito', sans-serif;
    color: var(--primary-text-color);
}
*{
    box-sizing: border-box;
}
*::selection{
    background-color: #33333390
}
body,li,ul,p,h1,h2,h3{
    padding: 0;
    margin: 0;
}
a{
    color: var(--primary-text-color);
    text-decoration: none;
}
section{
    padding: 50px 100px;
    min-height: 96vh;
}
section > div{
    margin: auto;
    width: 100%;
    max-width: 1200px;
    min-height: 50vh;
    position: relative;
}
button{
    font-size: 1em;
    border: none;
}
.primary_botton_style,.secondary_botton_style{
    border-radius: 60px;
    font-weight: bold;
    padding: 15px 30px;
}
.primary_botton_style{
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
}
.secondary_botton_style{
    background-color: var(--primary-style-color);
    color: var(--primary-text-color);
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    z-index: 10;
}
nav ul{
    display: flex;
    gap: 10px;
}
nav a{
    padding: 15px;
}
section:nth-of-type(1){
    padding: 180px 100px;
    background-color: var(--primary-style-color);
    border-radius: 0 0 20px 20px;
    position: relative;
}
section:nth-of-type(1) li, nav li{
    list-style: none;
}
h1{
    font-size: 80px;
    width: 400px;
    line-height: 1.1em;
}
.link_zone{
    position: absolute;
    bottom: 0;
}
.link_zone ul{
    padding-top: 15px;
    display: flex;
    gap: 10px;
}
.main_picture{
    border: 2px solid var(--primary-text-color); 
    border-radius: 80px;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    aspect-ratio: 1.7 / 3;
}
.arrow_down{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

h2{
    font-size: 24px;
}
.cards{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.card{
    max-width: 800px;;
    padding: 50px;
    border-radius: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
    background-color: var(--secondary-style-color);
    border: 2px solid var(--primary-style-color);
}
.card p{
    font-size: 17px;;
}
.card img{
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    width: 100%;
    border: 2px solid var(--primary-text-color);
}
h3{
    font-size: 20px;
}
section:nth-of-type(2) h3{
    margin-bottom: 30px;
}
.card:nth-of-type(2n+2){
    margin-left: auto;
}

section:nth-of-type(3){
    background-color: var(--tertiary-style-color);
    min-height: 100vh;
}